# Loading data into Pandas

In [2]:
import pandas as pd

# df = pd.read_csv('Pokemon.csv')

# print(df.tail(3))

# df_xlsx = pd.read_excel('pokemonxl.xlsx')

# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt',delimiter='\t')

# print(df.head(3))

# Reading Data in Pandas

In [33]:
## Read Headers
# df.columns

## Read each Columns
# print(df[['Name','Type 1','HP']])
#print(df.Name)

## Read each Row
# print(df.head(4))
# print(df.iloc[1:4])
# for index, row in df.iterrows():
#     print(index,row)
#       print(index,row['Name'])
# df.loc[df['Type 1'] == "Grass"]

## Read a specific Location (R,C)
# print(df.iloc[2,1])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

# Sorting/Describing Data

In [41]:
# df.describe()
# df.sort_values('Name',ascending=False)
# df.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making changes to the data

In [50]:
# df.head(5)
# df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']

# df=df.drop(columns = ['Total'])

# df['Total'] = df.iloc[:,4:10].sum(axis=1)

# cols = list(df.columns.values)
# df[['Total','HP','Defense']]
# df = df[cols[0:4]+[cols[-1]]+cols[4:12]]

# df.head(5)

In [54]:
# df.to_csv('modified.csv',index=False)
# df.to_excel('mod.xlsx',index=False)
# df.to_csv('modifieddata.txt',index=False, sep='\t')

In [67]:
# new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

# new_df.to_csv('filtered.csv')

# new_df.reset_index(drop=True,inplace=True)

# new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

# Filtering Data

In [75]:
# df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
import re

# df.loc[df['Type 1'].str.contains('Fire|Grass',regex=True)]
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I ,regex=True)]
# df.loc[df['Name'].str.contains('^pi[a-z]',flags=re.I ,regex=True)]

# df.loc[df['Name'].str.contains('Mega')]
# df.loc[~df['Name'].str.contains('Mega')]

# Conditional Changes

In [81]:
# df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
# df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

df = pd.read_csv('modified.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Aggregate Statistics (Groupby)

In [12]:
df = pd.read_csv('modified.csv')

# df.groupby(['Type 1']).mean().sort_values('Defense',ascending=False)

# df.groupby(['Type 1']).mean().sort_values('Attack',ascending=False)

# df.groupby(['Type 1']).sum()

df['count'] = 1

df

# df.groupby(['Type 1']).count()['count']
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with large amounts of data

In [18]:
# df = pd.read_csv('modified.csv')

# for df in pd.read_csv('modified.csv',chunksize=5):
#     print("Chunk Df")
#     print(df)

new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv',chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df,results])